{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "lib": "./src/lib",
          "components": "./src/components",
          "pages": "./src/pages"
        }
      }
    ]
  ],
  "ignore": [
    "./secret.json"
  ]
}
